{% extends 'admin/member/formLayout.html.twig' %}

{% block title %}Add New member{% endblock %}

{% block body %}

<div class="app-header">
	<h1 class="app-title">App new member page</h1>
	<p class="lead app-description">Add New member.</p>
</div>
<div class="row">

	<div class="col-lg-6 col-sm-6 col-xs-12">
     {{ include('admin/member/_form.html.twig') }}
	</div>
	<div class="col-lg-6 col-sm-6 col-xs-12">

		
		
		
	</div>
	
</div>

{%  endblock %}

