{% extends 'base.html.twig' %}

{% block title %}
Welcomen!
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<ul class="social">
				<li class="linkedin"><a
					href="https://www.linkedin.com/in/dragan-valjak-68657924"><i
						class="fa fa-linkedin fa-3x"></i></a></li>
				<li class="twitter"><a href="http://twitter.com/dragan_valjak"><i
						class="fa fa-twitter fa-3x"></i></a></li>
				<li class="facebook"><a
					href="http://facebook.com/dragan.valjak"><i
						class="fa fa-facebook fa-3x"></i></a></li>

				<li class="pinterest"><a href=""><i
						class="fa fa-pinterest-p fa-3x"></i></a></li>

			</ul>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
{% endblock %}


